body {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  padding: 5vh 0;
  gap: 5vh;
}
.card {
  width: 30%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #adadad98;
  color: rgb(3, 2, 58);
  transition: transform 1s;
}
.card:hover {
  transform: scale(1.1);
}
.card h4,
.card p,
.title-rate {
  padding: 0 10px;
}
.card h4 {
  height: 5%;
  color: rgb(48, 139, 6);
}
.card h4 span {
  font-weight: normal;
}
.card p {
  height: 15%;
  font-weight: 600;
  color: rgb(88, 88, 88);
}
.title-rate {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 95%;
}
.title-rate span {
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .card {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
